<?xml version="1.0" encoding="utf-8" ?>
<SCF>
<!-- 
  <Service name="print" id="4" maxThreadCount="50">
    <Commmunication >
      <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:0:20" sendTimeout="00:00:20" receiveTimeout="00:00:30" waitTimeout="00:00:20" />
      <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:20">
      	  <add name="print" host="127.0.0.1" port="16002" maxCurrentUser="100"  />
      </Server>
    </Loadbalance>
  </Service>
  <Service name="jnademo" id="4" maxThreadCount="50">
    <Commmunication >
      <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:0:20" sendTimeout="00:00:20" receiveTimeout="00:00:03" waitTimeout="00:00:20" />
      <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:20">
      	  <add name="print" host="127.0.0.1" port="16003" maxCurrentUser="100"  />
      </Server>
    </Loadbalance>
  </Service>
   -->
   <Service name="demo" id="4" maxThreadCount="50">
    <Commmunication >
      <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:0:20" sendTimeout="00:00:20" receiveTimeout="00:00:03" waitTimeout="00:00:20" />
      <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:20">
      	  <add name="print" host="127.0.0.1" port="16001" maxCurrentUser="100"  />
      </Server>
    </Loadbalance>
  </Service>


  
  <!--
        All,
        Debug,
        Info,
        Notice,
        Warn,
        Error,
        Fatal,
        Off
  
  <Logger level="Info" type="WWW58COM.SPAT.SCF.Utility.Logger.UDPLogger" >
    <UDP host="192.168.100.118" port="8888"/>
    <File path="scf_log"/>
  </Logger>-->
</SCF>
